<div>

	<h3>This is the home view:</h3>

	<p>
		Is a complete module with its own route and controller.
	</p>

	<p>
		Add a thing to this controller scope array:
		<input type="text" ng-model="home.thingInput" placeholder="type something..">
		<button type="button" ng-click="home.addThing()" class="button button-default" name="Add">Add</button>
	</p>

	<ul>

		<li ng-repeat="thing in home.things track by $index">
			<span ng-bind="thing"></span>
			<button type="button" ng-click="home.removeThing($index)" class="button button-default" name="Remove">Remove</button>
		</li>

	</ul>

</div>
